
/*************************
      LAYOUT
*************************/

.home-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  display: flex;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
/*************************
      FIRST CONTENT BLOCK
*************************/
#wrapper-main {
  max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
  max-width:         calc(800px - (#{$spacing-unit} * 2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10;
  position: relative;
  height: 100%;
}

.home-page-content {
  padding: $spacing-unit 0;
  height: 85vh;
}

.hero-content {
  .index-title {
    font-size: $base-font-size * 4;
    line-height: 60px;

  }

  p {
    color: $grey-color-dark;
  }

}

.iphone-main {
  height: 500px;
  width: auto;
  z-index: 3;
  top: 0%;
  left: 70%;
}

.iphone-gif-main {
  height: 382px;
  position: absolute;
  bottom: 21.8%;
  right: 6%;
}

#fa-down {

  font-size: $base-font-size * 4;
  text-align: center;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  color: $text-color;
  transition: all .3s ease;

  &:hover {
      font-size: $base-font-size * 5;
  }
}

/*************************
      SECOND CONTENT BLOCK
*************************/

.home-page-content-2 {
  padding: $spacing-unit 0;
  background: $light-blue;
  color: $text-color;
  z-index: 2;
  display: flex;
  
  #description-wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  
  ul {
    align-self: flex-end;
    justify-self: flex-end;
    padding: 50px 0;
  }

  li {
    list-style: none;
    padding-bottom: 25px;

    // font-size: 20px;

    h3 {
      font-size: $base-font-size * 2;
      font-weight: 600;
      margin-bottom: 3px;
    }
  }

  .index-section-header {
    font-size: $base-font-size * 3;
    line-height: 50px;
    text-align: right;
    padding-top: 40px;
  }
}

.description-content-container {
  display: flex;
  justify-content: space-between;
}

.iphone-gif-description {
  height: 306px;
  position: absolute;
  bottom: 11.75%;
  left: 5.425%;
}

.iphone-description {
  height: 400px;
  width: auto;
  z-index: 3;
}



/*************************
      THIRD CONTENT BLOCK
*************************/
  #emulator-wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    justify-content: space-between;
    align-content: center;
  }

.home-page-content-3 {
  padding: ($spacing-unit * 3) 0;
  background: $periwinkle;

  .index-section-header {
    font-size: $base-font-size * 3;
    line-height: 50px;
    text-align: right;
    padding-top: 40px;
    max-width: 250px;
  }
}

/*************************
      FOURTH CONTENT BLOCK
*************************/

.home-page-content-4 {
  #cta-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  padding: $spacing-unit 0;
  background: $background-color;
  font-size: $base-font-size * 1.5;
  

  .index-section-header {
    font-size: $base-font-size * 3;
    line-height: 60px;
    align-self: flex-end;
  }

  .cta-github {
    align-self: center;
  }
}
