
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}

    <main class="home-page-content" aria-label="Content">
      <div id="wrapper-main" class="home-wrapper">
        <div class='hero-content'>
          <h1 class='index-title'> Drop your friends some notes. </h1>
          <p> They'll find them when they show up. </p>
          <button type="button" class="button hero-button">
            <a name="home-page-content-3" href="#home-page-content-3">Test the app</a>
          </button>
        </div>
        <img class="iphone-main" src="http://res.cloudinary.com/ericwindmill/image/upload/v1497280499/later-chat/iPhone.png"> 
        <img class="iphone-gif-main" src="http://res.cloudinary.com/ericwindmill/image/upload/v1497279751/later-chat/search_users_gif.gif"> 
        </div>
        <a href="#description-wrapper"><i class="fa fa-angle-double-down" id="fa-down" aria-hidden="true"></i></a>
      </div>
    </main>


    <section class="home-page-content-2" aria-label='Content'>
        <div id="description-wrapper" class="home-wrapper">

            <h1 class='index-section-header'> An app crafted for the social butterfly. </h1>
            <div class="description-content-container">
              <img class="iphone-description" src="http://res.cloudinary.com/ericwindmill/image/upload/v1497280499/later-chat/iPhone.png"> 
              <img class="iphone-gif-main" src="http://res.cloudinary.com/ericwindmill/image/upload/v1497279745/later-chat/map_gif.gif"> 
              <ul class="things-you-can-do">
                <li>
                  <h3>Drop notes</h3>
                  Leave your friend a note wherever you are.
                </li>
                <li>
                  <h3>Location Based</h3>
                  Next time they get to the location, they'll get the note.
                </li>
                <li>
                  <h3>Discover</h3>
                  Checkout the public notes to see what's going on where you are now.
                </li>
              </ul>
            </div>

        </div>
    </section>

   <section id="home-page-content-3" name="home-page-content-3" class="home-page-content-3" aria-label='Content'>
      <div id="emulator-wrapper" class="home-wrapper">
          <h1 class='index-section-header'> Live test the app now.
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </h1>
          <iframe src="https://appetize.io/embed/kkrppwxt81zynqeev894mpf9wg?device=iphone6&scale=50&autoplay=false&orientation=portrait&deviceColor=white&location=37.759473,-122.427242" width="208px" height="435px" frameborder="0" scrolling="no"></iframe>
        </div>
    </section>

    <section class="home-page-content-4" aria-label='Content'>
        <div id="cta-wrapper" class="home-wrapper">
            <h1 class='index-section-header'> Open Source </h1>
            <p>You can find the code on our github. You can download the project to your machine, hack it up, and make it better. Contributing is welcomed and encouraged.</p>

            <div class='cta-github'> {% include icon-github.html username=site.github_username %} </div>
            </div>
    </section>

    {% include footer.html %}
  </body>
</html>
